* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/image/bgnew.jpg'); /* Ganti path ini dengan lokasi gambar */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #faf8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

label, input {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #1976D2;
}

/* Styling untuk form pencarian */
#searchForm {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchForm label, 
#searchForm input, 
#searchForm button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#searchForm input, 
#searchForm button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchForm button {
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}

#searchForm button:hover {
    background-color: #1976D2;
}

/* Styling untuk hasil pencarian */
#searchResult {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
